#minimongo {
    padding:10px 50px;
}

#minimongo a {
    text-decoration: none;
}

#minimongo table {
    border-collapse: collapse;
    border: solid 1px black;
    width: 800px;
    background-color: lightgray;
}


#minimongo table td {
    border: solid 1px black;
    padding: 10px;
}


#minimongo input {
    width: 400px;
    border-radius: 5px;
    padding: 5px;
}

#minimongo form {
    margin-top: 20px;
}